<configuration>
  <appSettings>
    <add key="InventoryServiceUrl" value="http://inventory-service/api" />
  </appSettings>
  <connectionStrings>
    <add name="MainDb" connectionString="Server=example;Database=example;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <client>
      <endpoint name="InventoryServiceUrl" address="http://inventory-service/Inventory.svc" binding="basicHttpBinding" contract="Example.IInventory" />
    </client>
  </system.serviceModel>
</configuration>
